<?xml version='1.0' encoding='utf-8'?>
<widget id="no.foreningenbs.bsapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BS</name>
    <description>
        App for livet på Blindern Studenterhjem
    </description>
    <author email="it-gruppa@foreningenbs.no" href="http://foreningenbs.no">
        IT-gruppa ved Blindern Studenterhjem
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/logo-bs.png" />
</widget>
